<div *ngIf="!loading" class="flex justify-content-between">
  <div>
    <p *ngFor="let detailHeader of detailHeaders" class="font-medium"> {{detailHeader|transloco}} </p>
  </div>

  <div class="text-right mb-3">
    <p> {{reporter.phone}} </p>
    <p> {{reporter.email}} </p>
    <p> {{reporter.address.city}} </p>
    <p> {{reporter.address.street}} </p>
    <p> {{reporter.address.suite}} </p>
    <p> {{reporter.address.zipcode}} </p>
    <p> {{reporter.address.geo.lat}} </p>
    <p> {{reporter.address.geo.lng}} </p>
    <p> {{reporter.company.name}} </p>
    <p> {{reporter.company.bs}} </p>
    <p> {{reporter.company.catchPhrase}} </p>
  </div>
</div>

<p-progressSpinner *ngIf="loading" styleClass="flex justify-content-center mt-5"></p-progressSpinner>
