<ng-container *transloco="let translate">
  <div class="flex justify-content-between flex-wrap">
    <span class="p-input-icon-left mr-2">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="term" placeholder="{{translate('search')}}">
    </span>
    <div class="btn-wrapper">
      <p-button styleClass="mr-2" icon="pi pi-arrow-up" (onClick)="sortAsc()"></p-button>
      <p-button icon="pi pi-arrow-down" (onClick)="sortDesc()"></p-button>
    </div>
  </div>

  <div class="flex justify-content-center flex-wrap">

    <p-card *ngFor="let article of articles | filter:term" [header]="article.title" [subheader]="article.author"
      [style]="{width: '360px'}" styleClass="p-card-shadow m-5">

      <ng-template pTemplate="header">
        <img *ngIf="article.image" [alt]="article.title" [src]="article.image">
      </ng-template>

      <p>{{article.description}}</p>

      <ng-template pTemplate="footer">
        <div class="flex justify-content-between align-items-center">

          <p>{{article.published_at | date: 'medium'}}</p>

          <a pButton [href]="article.url" target="_blank"
            class="p-button-outlined p-button-rounded p-button-info text-xs no-underline">
            {{translate('viewFull')}}
          </a>

        </div>
      </ng-template>

    </p-card>

  </div>
</ng-container>

<p-progressSpinner *ngIf="loading" styleClass="flex justify-content-center mt-5"></p-progressSpinner>
